.image img{
	width: 100%;
	margin: auto;
	height: 350px;
}
.gruop1 figure {
	float: right;
}
.gruop1{
	width: 80%;
	margin: auto;
	display: flex;
}
.gruop1  .img{
	
}

.gruop1 figcaption{
	text-align: center;
}

.body{
	width: 80%;
	margin: auto;
	background-color: lightblue;
	padding-bottom: 1px;
}

.body h1{
	color: red;
	margin-left: 10px;
}
.body h3{
	color: blue;
	margin-left: 10px;
}
.body p{
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}
.body1{
	width: 80%;
	margin: auto;
	overflow: auto;
	display: flex;
}

.left {
	width: 50%;
	float: left;
	background-color: yellow;
	
}

.left h1{
	color: blue;
}

.right {
	width: 50%;
	float: right;
	background-color: blue;
	color: white;
	padding: 50px 50px 50px 50px;
	
}